@model IEnumerable<API.DTOs.Employees.GetEmployeeDto>

@{
    ViewData["Title"] = "Index";
}
@if (TempData["Success"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["Success"]');
    </script>

}
<h1>Index</h1>

<p>
    <a href="Employee/Create">Create New</a>
    <a class="btn btn-info" href="Account/Login">Logout</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nik)
            </th>
            <th>
                @Html.DisplayName("Full Name")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HiringDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayName("Action")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                @{
                    var culture = new System.Globalization.CultureInfo("id-ID");
                }
            <td>
                @Html.DisplayFor(modelItem => item.Nik)
            </td>
            <td>
                    @{
                        var fullName = $"{item.FirstName} {item.LastName}";
                    }
                    @Html.DisplayFor(x => fullName)
            </td>
            <td>

                    @{
                        var formatBirthDate = item.BirthDate.ToString("dd MMMM yyyy", culture);
                    }
                    @Html.DisplayFor(modelItem => formatBirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                    @{
                        var formatHiringDate = item.HiringDate.ToString("dd MMMM yyyy", culture);
                    }
                    @Html.DisplayFor(modelItem => formatHiringDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                    <form action="/Employee/Edit" method="GET">
                        <input type="hidden" value="@item.Guid" name="guid" />
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </form>
                    <form action="/Employee/Delete" method="POST" onsubmit="return confirm('Apakah Anda yakin ingin menghapus data ini?')">
                    <input type="hidden" value="@item.Guid" name="guid"/>
                        <button class="btn btn-danger" type="submit" onclick="return true">Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>